
body{
    background-color:beige;
}

h1{
    color: rgb(255, 146, 146);
    font-family: Trebuchet, Verdana, Tahoma;
}

h2{
    color: rgb(255, 146, 146);
    font-family: Trebuchet, Verdana, Tahoma;
}

h3{
    color: rgb(255, 146, 146);
    font-family: Trebuchet, Verdana, Tahoma;
}

h4{
    color: rgb(255, 146, 146);
    font-family: Trebuchet, Verdana, Tahoma;
}

h5{
    color: rgb(255, 146, 146);
    font-family: Trebuchet, Verdana, Tahoma;
}

h6{
    color: rgb(255, 146, 146);
    font-family: Trebuchet, Verdana, Tahoma;
}

p{
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    font-family: Trebuchet, Verdana, Tahoma;
}

.centered {
   text-align: center;
}
